.container {
  background: lightgray;
  border-radius: 5px;
  /* position: fixed; */
  max-width: 600px;
  margin: auto;
}

.sub {
  background: wheat;
  border-radius: 5px;
  /* position: fixed; */
  max-width: 550px;
  margin: auto;
}

.menu {
  margin: 5px;
}

.input_button {
  background: wheat;
  margin: 5px;
  color:black
}

.time{
  padding-left: 30px;
}

