.container {
  background: lightgray;
  border-radius: 5px;
  padding: 10px;
  display: flex;
}

.container > div {
  margin: 5px;
}

.container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
